:root{
    --primary-dark:#494646;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
    position: relative;
    min-height: 100%;
    
}

body{
    background: linear-gradient(180deg, hsla(217, 100%, 28%, 1) 68%, hsla(186, 100%, 69%, 1) 100%);
    color: var(--primary-light)
}
.layerOne{
    margin-bottom: 40px;
}
.title{
    font-family: 'Silkscreen', cursive;
    background-color: hsla(0, 69%, 45%, 1);
    background-image: linear-gradient(180deg, hsla(0, 69%, 45%, 1) 32%, hsla(15, 100%, 68%, 1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 40px;
    text-align: center;

}

button,
input {
  width: 100%;
  border: none;
  color: hsla(217, 100%, 28%, 1);
  font-family: 'Space Mono', monospace;;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
}

.layerTwo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    margin: 0 30px;
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
}
button{
    padding: 10px 20px;
    border: 1px solid black;
}

button.active{
    border: 3px solid black;
}

button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.size-value {
  margin-bottom: -20px;
  font-size: 20px;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: var(--primary-light);
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid var(--primary-dark);
  border-radius: 25px;
  background: var(--secondary-light);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: var(--primary-light);
}